
/** custom styles **/

div.post p a {
  font-weight: bold;
  color: #a92323;
}

div.post p a:hover {
  color: #a92323;
  text-decoration: underline;
}

h2.headerTitleWithLogo {
  font-weight: normal;
  margin-left: 5px !important;
  padding-top: 3px;
}

/** custom responsive **/

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
