
/** custom styles **/

div.post p a, a.learn {
  font-weight: bold;
  color: #a92323;
}

div.post p a:hover, a.learn:hover {
  color: #a92323;
  text-decoration: underline;
}

h2.headerTitleWithLogo {
  font-weight: normal;
  font-family: "Permanent Marker";
  margin-left: 5px !important;
  margin-top: -4px !important;
}

h2.projectTitle {
  font-family: "Permanent Marker";
}

h2.projectTitle small {
  font-family: sans;
  font-size: 20px;
}

code {
  border-radius: 5px;
}

div.comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.comparison .example {
  width: 520px;
}

.homeContainer {
  padding-top: 40px;
}

.productShowcaseSection {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productShowcaseSection .featureBlock {
  text-align: left;
  width: 300px;
}

.productShowcaseSection .featureBlock p {
  padding-top: 0;
}

.promoSection {
  margin-top: 60px;
}

.promoSection a.button {
  font-size: 18px;
  text-transform: none;
}


/** custom responsive **/

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
